@font-face {
    font-family: 'icomoon';
    src: url('../../../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon' !important;
}

.icon-cross:before {
    content: "\ea0f";
}

.search {
    box-sizing: border-box;
    padding: 10px 0;
}
.search:after {
    clear:both;
}

.show-active-container {
    padding-right: 10px;
    /*float: right;*/
}

.show-active {
    font-size: 1em;
}

.search-string-container {
    border: solid slategray 1px;
    border-radius: 4px;
    display: inline-block;
    /*float: right;*/
}

.search-string {
    width: 150px;
    outline: none;
    border-width: 0;
    border-radius: 3px 0 0 3px;
    padding: 0 5px;
}

.erase {
    width: 20px;
    background: lightgray;
    display: inline-block;
    border-radius: 0 3px 3px 0;
    font-size: 1em;
    vertical-align: middle;
}

.erase:hover {
    cursor: pointer;
}
