@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-family: 'icomoon' !important;
}
.icon-bin:before {
    content: "\e9ac";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-cross:before {
    content: "\ea0f";
}

.container {
    padding: 20px;
    background: yellow;
    text-align: center;
}

.exp {
    color: red;
    font-size: 16px;
}

.exp:hover {
    cursor: pointer;
}



.search {
    box-sizing: border-box;
    padding: 10px 0;
}
.search:after {
    clear:both;
}

.show-active-container {
    padding-right: 10px;
    /*float: right;*/
}

.show-active {
}

.search-string-container {
    border: solid slategray 1px;
    border-radius: 4px;
    display: inline-block;
    /*float: right;*/
}

.search-string {
    width: 150px;
    outline: none;
    border-width: 0;
    border-radius: 3px 0 0 3px;
    padding: 0 5px;
}

.erase {
    width: 20px;
    text-align: center;
    background: darkgrey;
    display: inline-block;
    border-radius: 0 3px 3px 0;
}

.erase:hover {
    cursor: pointer;
}
