@font-face {
    font-family: 'icomoon';
    src: url('icomoon/icomoon.woff?euj7mi') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-pencil:before {
    content: "\e905";
}
.icon-bin:before {
    content: "\e9ac";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-cross:before {
    content: "\ea0f";
}
